@layout('layouts/default')

@set('navTitle', 'Schedule')
@set('sbName', 'Rendra Pratama')
@set('sbEmail', 'rendrapcx@rpcx.com')
@set('active', 'calendar')

@section('content')
<section>
  @!component('components/breadcrumb/base')
  <hr>
</section>
@endsection
