<!DOCTYPE html>
<html lang="en" class="scroll-smooth hover:scroll-auto">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AdonisJS - A fully featured web framework for Node.js</title>
  @entryPointStyles('app')
  @entryPointScripts('app')
  {{--  <style>
    [x-cloak] {
      display: none !important;
    }
  </style>  --}}
</head>

<body class="bg-slate-100 dark:bg-gray-300">
  <div class="flex">
    {{--  Sidebar  --}}
    <div class="z-50">
      @include('partials/sidebar')
      {{--  @include('partials/sidebar2')  --}}
    </div>

    {{--  Main Content  --}}
    <div class="w-full">
      <div class="flex flex-col justify-between relative overflow-hidden">
        <div
          class="flex-grow w-full h-screen scrollbar-thin scrollbar-thumb-gray-500 scrollbar-track-gray-200 overflow-y-scroll scrollbar-thumb-rounded-full scrollbar-track-rounded-full">
          <div>
            <header class="sticky z-10 top-0">
              {{--  @include('partials/navbar')  --}}
            </header>
            <main class="z-0 flex-grow">
              @!section('content')
            </main>
            <footer class="flex h-10 z-40 bg-slate-600 fixed bottom-0 w-full place-items-center shadow-md opacity-90">
              <i class="text-xs pl-14 text-gray-400 antialiased">Rencang Paguron ©️2022 (❁´◡`❁) Rendra Pratama C</i>
            </footer>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
